{% extends 'kwestionariusz/base.html' %}

{% block title %}FOSQ{% endblock %}

{% block content %}

<div class="progress">
    Krok 3 z 3 - FOSQ
</div>

<h1>Kwestionariusz funkcjonalnych skutków snu (FOSQ)</h1>

<p class="subtitle">
    Kod pacjenta: <strong>{{ kod_pacjenta }}</strong>
</p>

<p class="subtitle">
    W pytaniach 1-29 wybierz odpowiedź najlepiej opisującą trudność wykonywania czynności. W ostatnim pytaniu oceń swój ogólny poziom aktywności.
</p>

<form method="post">
    {% csrf_token %}

    {% for section in question_sections %}
        <h2 class="question-section-title">{{ section.title }}</h2>

        {% for question in section.fields %}
            <div class="question">
                <p>{{ question.label }}</p>
                {{ question.field }}

                {% if question.field.errors %}
                    <div class="error">{{ question.field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}

    <button class="btn" type="submit">
        Zakończ badanie
    </button>
</form>

{% endblock %}
