{% extends 'kwestionariusz/base.html' %}

{% block title %}Start badania{% endblock %}

{% block content %}

<div class="progress">
    Start badania
</div>

<h1>Operacja bariatryczna czy protezowanie powietrzem? Porównanie skuteczności chirurgii i aparatów CPAP w leczeniu bezdechu sennego</h1>

<div class="intro-banner">
    <p>Szanowna Pani / Szanowny Panie,</p>
    <p>
        Niniejsza ankieta jest elementem długofalowego projektu naukowego oceniającego wpływ operacji bariatrycznej oraz stosowania aparatu CPAP na nasilenie bezdechu sennego, jakość życia i aktywność fizyczną.
    </p>
    <p>
        Ankieta jest w pełni anonimowa, jednak w celu powiązania Pana/Pani wyników z obecnym etapem z wynikami za 6 oraz 12 miesięcy, prosimy o rzetelne wygenerowanie swojego Kodu Pacjenta na samym początku.
    </p>
    <p>
        Dziękujemy za wkład w rozwój nauki!
    </p>
</div>

<p class="subtitle">
    Wprowadź indywidualny kod pacjenta, aby rozpocząć wypełnianie trzech kwestionariuszy.
</p>

<div class="question">
    <p>Instrukcja</p>
    <p>
        Kod pacjenta złożony jest z: dwóch pierwszych liter imienia matki + dwóch pierwszych
        liter swojego imienia + dnia twojego urodzenia (np. jeśli mama to Anna, Ty to Jan, a urodziłeś/aś
        się 5. dnia miesiąca, Twój kod to: ANJA05).
    </p>
</div>

<form method="post">
    {% csrf_token %}

    <div class="question">
        <p>{{ form.kod.label }}</p>
        {{ form.kod }}
    </div>

    <button class="btn" type="submit">
        Rozpocznij badanie →
    </button>
</form>

{% endblock %}
